main .carousel {
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0 auto;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

main .carousel .item-link {
  text-decoration: none;
  color: #1473E6;
  padding-left: 16px;
  padding-top: 6px;
  display: flex;
}

main .carousel .item-link::after {
  display: flex;
  width: 6px;
  height: 6px;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-color: #5C5CE0;
  transform-origin: 75% 75%;
  transform: rotate( -45deg );
  content: "";
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 2.25px;
}

main .carousel .item p {
  margin: 0;
}

main .carousel .item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0 0 32px 0;
  justify-content: flex-end;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  text-decoration: unset;
}

main .carousel .item > div:first-child > a:any-link {
  padding-left: 0;
}

main .carousel .item img, main .carousel .item video {
  border-radius: 10px;
  width: 300px;
}

main .carousel.large .item {
  width: 100%;
  margin: 0;
  border: 0;
}

main .carousel.large .item > div {
  margin: auto;
}

main .carousel.large .item img {
  width: 100%;
}

main .carousel + .button-container > a {
  margin: 0;
}

main .carousel.masonry {
  columns: 240px 1;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
}

main .carousel.masonry .item {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
}

/* horizontal carousel (carousel) */

main .carousel.horizontal {
  display: block;
  overflow: hidden;
  max-width: 375px;
  margin-left: auto; 
  margin-right: auto;
  height: 220px;
}

main .carousel.horizontal .carousel-platform {
  position: relative;
  width: fit-content;
  height: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0;
  transition: left 0.4s;
}

main .carousel.horizontal .carousel-fader-left {
  display: none;
  position: relative;
  height: 220px;
  width: 60px;
  top: -220px;
  float: left;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  transition: display 0.2s;
}

main .carousel.horizontal .carousel-fader-right {
  display: none;
  position: relative;
  height: 220px;
  width: 68px;
  top: -220px;
  float: right;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  transition: display 0.2s;
}

main .carousel.horizontal a.button.carousel-arrow {
  cursor: pointer;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 100px 20px;
  background: #FFF;
  box-shadow: 0 4px 8px 2px rgba(102, 102, 102, 0.1);
  border-radius: 50%;
}

main .carousel.horizontal a.button.carousel-arrow::before {
  content: '';
  position: absolute;
  margin-top: 11px;
  width: 8px;
  height: 8px;
  border-top: solid 2px #444;
  border-right: solid 2px #444;
}

main .carousel.horizontal a.button.carousel-arrow-left::before {
  margin-left: 13px;
  transform: rotate(-135deg);
}

main .carousel.horizontal a.button.carousel-arrow-right {
  float: right;
}

main .carousel.horizontal a.button.carousel-arrow-right::before {
  margin-left: 9px;
  transform: rotate(45deg);
}

main .carousel.horizontal .item {
  min-height: 220px;
  max-height: 220px;
  width: max-content;
  margin-left: 12px;
  margin-right: 12px;
}

main .carousel.horizontal .item img,
main .carousel.horizontal .item video {
  height: 200px;
  width: auto;
}

main .carousel.horizontal .item-link {
  display: none;
}

@media (min-width: 900px) {
  main .carousel-container > div,
  main .carousel-horizontal-container > div {
    max-width: 900px;
  }

  main .carousel {
    max-width: unset;    
  }

  main .carousel .item {
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
  }

  main .carousel .item img {
    width: 240px;
  }

  main .carousel.masonry {
    display: block;
    columns: 240px 3;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  /* carousel inside columns */

  main .columns .carousel {
    margin-top: 0;
    margin-left: 40px;
  }

  /* horizontal carousel (carousel) */

  main .carousel.horizontal {
    max-width: 800px;
  }

  main .carousel.horizontal .carousel-fader-left,
  main .carousel.horizontal .carousel-fader-right {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  main .carousel-container > div,
  main .carousel-horizontal-container > div {
    max-width: 1200px;
  }

  main .carousel.masonry {
    display: block;
    columns: 240px 4;
    margin: auto;
    column-gap: 40px;
    max-width: 1080px;
    position: relative;
    left: -16px;
  }

  /* carousel inside columns */

  main .columns .carousel {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  main .columns .carousel .item {
    justify-content: flex-start;
    min-width: 132px;
  }

  main .columns .carousel .item-link {
    font-size: 0.875rem;
    font-weight: 400;
  }

  /* horizontal carousel (carousel) */

  main .carousel.horizontal {
    max-width: 1090px;
  }
}

body.no-scroll {
  overflow: hidden;
}

main .carousel .item > div, #fsmContainer {
  transition: 1s;
  text-align: center;
}

#fsmContainer.full-screen {
  height: 100vh;
  z-index: 100;
  margin: 0;
  border-radius: 0;
  background-color: lightgray;
}