:root {
  --text-color: 10, 10, 10;
  --background-color: 255, 255, 255;
  --highlight-color: 67, 68, 69;
  --font: 'Libre Baskerville';
  --font-alt: 'Mulish';
}

strong::after {
  content: " (strong)";
}

form {
  margin: 0;
}

@media (min-width:900px) {
  form {
    margin: 0 80px;
  }
}

form input,
form button, 
form textarea, 
form select {
  font-family: var(--font);
  font-size: 24px;
}

form input,
form textarea, 
form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 0;
  display: block;
  width: 100%;
  height: 45px;
  padding: 7px;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
}

form textarea {
  height: 100px;
}

form select {
  width: 30%;
}

form label {
  display: block;
	margin-bottom: 8px;
	margin-left: 7px;
  text-align: left;
}

form .group {
  margin-top: 60px;
}

form .group:last-of-type {
  margin-bottom: 60px;
}

form .fieldGroup {
  display:flex;
  flex-direction: row;
  align-items: center;
}

main .section-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

main .section-wrapper tr {
  border-bottom: 1px solid lightgrey;
}

main .section-wrapper table td p {
  margin: 0;
}

main .section-wrapper table tr th:nth-child(1) {
  width: 100px;
}

main .section-wrapper table tr th:nth-child(2) {
  width: 300px;
}

main .section-wrapper form {
  border: 1px solid lightgray;
  padding: 10px;
}